<%- include('../layouts/userheader.ejs') %>

		<div class="col-10 offset-1 d-none d-md-block mb-3">
			<div class="flex-row d-flex">
				<div class="col-2 justify-content-end align-items-center text-center">
					
				</div>
			</div>
		</div>
		<section class="bg0 p-t-43 ">
			<div class="container">
				<div class="flex-w flex-sb-m  d-flex  justify-content-end">
					<div class="flex-w flex-c-m m-tb-10">
						<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
							<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
							<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
							 Filter
						</div>
		
						<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
							<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
							<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
							Search
						</div>
					</div>
					
					<!-- Search product -->
					<div class="dis-none panel-search w-full p-t-10">
						<form id="productFilter">

						<div class="bor8 dis-flex p-l-15">
							<input id="search"  class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search" placeholder="Search">
							<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04 btn btn-light" style="width: 100px; height: auto;" type="button" onclick="filter()">
								<i class="zmdi zmdi-search" style="font-size: xx-large;"></i>
							</button>
						</div>	
					</div>
		
					<!-- Filter -->
					<div class="dis-none panel-filter w-full p-t-10">
						<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
							<div class="filter-col2 p-r-15 p-b-27">
								<div class="mtext-102 cl2 p-b-15">
									Category
								</div>
								<ul>
									<li class="p-b-6">
										<input type="radio" name="category" value="all"  class="filter-link stext-106 trans-04 filter-link-active" onclick="filter()"> All
									</li>
									<% for( let i = 0; i < category.length; i++ ) { %>
										<li class="p-b-6">
											<input type="radio" name="category" value="<%= category[i]._id %>" class="filter-link stext-106 trans-04" onclick="filter()"> <%= category[i].name %>
										</li>
									<% } %>

								</ul>
							</div>
							<div class="filter-col1 p-r-15 p-b-27">
								<div class="mtext-102 cl2 p-b-15">
									Sort By
								</div>

								<ul>
									<li class="p-b-6">
										<input type="radio" name="sort" value="all" class="filter-link stext-106 trans-04" onclick="filter()"> ALL
									</li>

									<li class="p-b-6">
										<input type="radio" name="sort" value="lowToHigh" class="filter-link stext-106 trans-04" onclick="filter()"> Price: Low to High
									</li>

									<li class="p-b-6">
										<input type="radio" name="sort" value="highToLow" class="filter-link stext-106 trans-04" onclick="filter()"> Price: High to Low
									</li>
								</ul>
							</div>
						</div>
					</div>
				</form>
				</div>        
			</div>
		</section>
	<div class="bg0  " >
		<div class="container">
			<div class="row isotope-grid" id="products-row">
                <% if(product.length >0){%>
					<% for(let i=0;i<product.length;i++){%>
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
				
					<div class="block2">
						<div class="block2-pic hov-img0">
							<img src="product-image/<%= product[i].image[0] %>" alt="IMG-PRODUCT">

						
						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<a href="/product-details?id=<%= product[i]._id %>" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6 text-decoration-none">
                                    <%= product[i].name %>
								</a>

								<span class="stext-105 cl3">
                                    <%= product[i].price %>
								</span>
							</div>
							
							<div class="block2-txt-child2 flex-r p-t-3">
								
							</div>
						</div>
					</div>
				</div>

                <%}}%>  
			</div>
			
			<nav aria-label="Page navigation example" style="display: flex; justify-content: center;">
				<ul class="pagination">
				  <li class="page-item">
					<a class="page-link" href="#" aria-label="Previous">
					  <span aria-hidden="true">&laquo;</span>
					  <span class="sr-only">Previous</span>
					</a>
				  </li>
				  <% for(i=1;i<=totalPage;i++){ %>
					<% if(currentPage==i){ %>
				  <li class="page-item active">
					<a class="page-link" href="/shop?currentpage=<%= i %>"><%= i %>
					</a>
				  </li>
					<%}else{ %>
				  <li class="page-item">
					<a id="next" class="page-link" href="/shop?currentpage=<%= i %>"><%= i %>
					</a>
				  </li>
				  <%}%>
				  <% }%>
				  <li class="page-item">
					<a class="page-link" href="#" aria-label="Next">
					  <span aria-hidden="true">&raquo;</span>
					  <span class="sr-only">Next</span>
					</a>
				  </li>
			  	</ul>
			</nav>                    
		</div>
	</div>
</div>
</div>
		

	


	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	
<script>
	function search(){
		let searchProduct = $('#search').val()
		console.log(searchProduct);
		$.ajax({
			type:'get',
			url:'/search',
			contentType:'application/json',
			data:JSON.stringify({searchProduct}),
			success:((res)=>{
				if(res.success){
					console.log(res);
				}
			})
		})
	}
</script>
<script>
		
		function filter(){
			const form = document.querySelector('#productFilter');
			const formData = new FormData(form);
			fetch('/productfilter', {
				method: 'POST',
				headers: {
				'Content-Type': 'application/x-www-form-urlencoded'
				},
				body: new URLSearchParams(formData)
			})
			.then(response => response.json())
			.then(data => {
			if(data.success){
							var row = $('#products-row'); 
							$('#products-row').empty();	
							$.each(data.products, function(index, product) {
								var productCard = $('<div>').addClass('col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women lala').html(
									'<div class="block2">' +
									'<div class="block2-pic hov-img0" >' + '<img src="/product-image/' +  product.image[0] +  '" alt="IMG-PRODUCT">' + '</div>'
										+ '<div class="block2-txt flex-w flex-t p-t-14">' +
											'<div class="block2-txt-child1 flex-col-l ">' + 
												'<a href="/product-details?id=' + product._id +' " class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">' +
															product.name +
															'</a>' +
															'<span class="stext-105 cl3">' +
																'₹' + product.price
															+'</span>'+
											'</div>'+
											'<div class="block2-txt-child2 flex-r p-t-3">'+
												'<div id=" '+ product._id +'icon2" style="display: none;" onclick="removewishlist(' +  product._id + ')" class="pos-relative">'+
															'<img class="icon-heart2 trans-04 " src="images/icons/icon-heart-02.png" alt="ICON" style="cursor: pointer;">'+
															'</div>' +
															'<div id=" '+ product._id +'icon1" style="display: none;" onclick="removewishlist(' +  product._id + ')" class="pos-relative">'+
															'<img class="icon-heart1 trans-04 " src="images/icons/icon-heart-01.png" alt="ICON" style="cursor: pointer;">'+
															'</div>' + 
											'</div>' +
											'</div>' +
											'</div>' +
											'</div>'
									
											);
										row.append(productCard);
									});
								}
        					})
			.catch(error => {
				console.error(error);
			});
		}

	</script>
<%- include('../layouts/userfooter.ejs') %>
